language: c

script: ./travis-tool.sh run_tests

before_install:
    - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
    - chmod 755 ./travis-tool.sh
    - ./travis-tool.sh bootstrap

install:
    - ./travis-tool.sh bioc_install GO.db DBI
    - ./travis-tool.sh install_deps
