useDynLib(mgsa)
importFrom(graphics, plot)

exportClasses(
              "MgsaSets",
              "MgsaGoSets",
              "MgsaResults"
              )

exportMethods(
              "getItemsIndices", 
              "getSubMapping",
              "mgsa",
              "MgsaSets",
              "setsResults",
              "alphaPost",
              "betaPost",
              "pPost",
              "plot",
              "show"
              )

export(
       "createMgsaGoSets",
       "createMgsaGoSetsFromGAF"
      )
