exportClasses(MgsaGoSets)
export(readGAF)
exportClasses(MgsaResults)
exportMethods(populationSize)
exportMethods(studySetSizeInPopulation)
exportMethods(alphaPost)
exportMethods(betaPost)
exportMethods(pPost)
exportMethods(setsResults)
exportClasses(MgsaMcmcResults)
exportMethods(steps)
exportMethods(restarts)
exportMethods(alphaMcmcPost)
exportMethods(betaMcmcPost)
exportMethods(pMcmcPost)
exportMethods(setsMcmcPost)
exportMethods(show)
exportMethods(plot)
exportClasses(MgsaSets)
exportMethods(itemAnnotations)
exportMethods(setAnnotations)
exportMethods(length)
exportMethods(itemIndices)
exportMethods(subMgsaSets)
useDynLib(mgsa)
exportMethods(mgsa)
importFrom(gplots, barplot2)
importFrom(graphics, par, plot, screen, split.screen)
importFrom(stats, na.omit, sd)
importFrom(utils, read.delim, relist, str)
